
/* rules  */
:root {
    --orange: coral;
    --light-orange: #FFE4C4; 
    --brown: brown;
    --rose: #FAEBD7;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 16px;
}
@media(min-width:550px) {
    html {
        font-size: 17px;
    }
}
@media(min-width:900px) {
    html {
        font-size: 18px;
    }
}
body {
    margin: 0;
    padding: 0;
}
h1 {
	text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin: .5em auto;   
}
h2 {
	text-align: center;
    text-transform: uppercase;
    margin: 0.5em auto;
    font-size: 1.4rem;
}
h3 {
	text-align: center;
    margin: 0.6em auto;
    font-size: 1.2rem;
    font-weight: 500;
}
input {
    font-size: inherit;
    font-family: inherit;

}
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
    border: none;
    background-color: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
}
p {
    line-height: 1.4;
    font-size: 1.1rem;
}
/*start styling*/
body {
	font-family: "Rubik", sans-serif;
	background: var(--rose);
}
main {
    padding: 1em 1em 2em 1em;
    position: relative;
}
@media(min-width:800px) {
    main {
        padding: 1em;
        display: grid;
        grid-template-columns: calc(50% - 1em) 50%;
        grid-template-rows: 100%;
        align-items: start;
        height: 100vh;
        gap: 1em;
    }
    main > .pull-up-menu {
        height: 100% !important;
    }
}
/*landing section*/
.landing {
    display: grid;
    grid-template-rows: auto;
}
@media(min-width:800px) {
    .landing {
        align-content: start;
        height: 100%;
        overflow: auto;
    }
}
.styles {
    max-width: 800px;
}
.styles .h-line {
	position: relative;
	margin: 1em 0;
	height: 10px;
	background: var(--light-orange);
}
.styles .h-line .current-style {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	font-size: 1.2rem;
	color: var(--orange);
	background: var(--light-orange);
	padding: .5em 1.3em;
	border-radius: 999px;

	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.styles .h-line .next-style {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.5em;
    color: var(--orange);
    border-radius: 50%;
}
.styles .h-line .next-style span {
	font-weight: bold;
	/*  arrows are always off the center!!  */
    transform: translateX(2px);
}
.whole-timer .screens-container {
    margin: 0 0 1em 0;
    gap: 0.1em;
}
.screens-container {
    margin: 2em 0 1em 0;
    justify-self: center;
    width: 100%;
    max-width: 300px;
    aspect-ratio: 7 / 9;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 0.4em;
}
.screen {
	border-radius: 5px;
	background: var(--light-orange);
	box-shadow: 0 4px var(--brown);
	border: 1px solid var(--brown);
}
.landing-reminder {
    font-size: 1.8em;
    margin: 0.5em 0 0 0;
    color: var(--orange);
}
.whole-timer {
    display: none;
}
@media(min-width:800px) {
    .whole-timer {
        max-height: 700px;
        min-height: 480px;
        height: 80vh;
        aspect-ratio: 7 / 9;
        margin: 0 auto;
    }
}
.total-seconds-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.1em;
}
.total-seconds-container .screens-container:first-child {
    justify-self: end;
}
.total-seconds-container .screens-container:nth-child(2) {
    justify-self: start;
}
.landing .text {
    max-width: 650px;
    justify-self: center;
}
.landing-header {
	color: var(--orange);
    margin: 0.5em 0 0.5em 0;
}
.landing .text p {
    margin-top: 0;
    font-size: 1.4rem;
    color: var(--brown);
    text-align: center;
    font-weight: 500;
}
/*menu section*/
.pull-up-menu {
    background: var(--orange);
    height: 76vh;
    position: fixed;
    left: 1em;
    right: 1em;
    bottom: 0;
    transform: translatey(calc(100% - 20px));
	padding: 1.6em 1em;
    border-radius: 20px 20px 0 0;
    transition: 0.7s ease-in-out;
}
@media(min-width:800px) {
    .pull-up-menu {
        overflow: auto;
        background: var(--orange);
        position: initial;
        transform: none;
        padding: 1.6em 1em;
        border-radius: 20px;
        /* transition: 0.7s ease-in-out; */
    }
    .pull-up-menu .arrow {
        display: none;
    }
}
.pull-up-menu .arrow {
    background: var(--orange);
    color: var(--brown);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    transition: 0.5s ease-in-out;
}
.pull-up-menu .arrow span {
    padding: 0.3em; 
    font-size: 2rem; 
    font-weight: bold; 
}
.menu-items-container {
    scroll-behavior: smooth;
    height: 100%;
    overflow: auto;    
    /* for the scroll bar not to stick with content*/
    padding: 0 0.3em;
}
@media(min-width:800px) {
    .menu-items-container {
        /* padding: 0 1em 0 0; */
    }
}
.menu-items {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#add-timer {
    align-self: start;
    width: 100%;
    background: var(--light-orange);
    padding: 0.3em;
    border: 1px solid var(--brown);
    color: var(--orange);
    border-radius: 5px;
}
#add-timer span {
    font-size: 2rem;
    font-weight: bold;
}
/* COMPONENTS */
/* menu items */
.splitted-menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .7em;
}
/* error message */
.error-message {
    position: absolute;
    z-index: 999;
    top: 1em;
    left: 50%;
    transform: translate(-50%, calc(-200% - 1em));
    background: var(--light-orange);
    color: var(--orange);
    padding: .2em .5em;
    border-radius: 5px;
    border: 1px solid var(--brown);
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    max-width: 300px;
}
.error-animation {
    animation: error 2s ease-in-out;
}
@keyframes error {
    0% {
        transform: translate(-50%, calc(-200% - 1em));
    }
    25% {
        transform: translate(-50%, 0);
    } 75% {
        transform: translate(-50%, 0);
    } 100% {
        transform: translate(-50%, calc(-200% - 1em));
    }
}
/* full timer */
.timer {
    background: var(--rose);
    border-radius: 15px;
    border: 1px solid var(--brown);

    padding: 0.7em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0.7em;
}
.timer > * {
    cursor: pointer;
} 
.time-block {
    border: 1px solid var(--brown);
    border-radius: 5px;
}
.time-block > :first-child {
    border-radius: 5px;
}
.time-block > :nth-child(2) {
    border-radius: 0 0 5px 5px;
}
.days-block {
    grid-column: auto / span 3;
}
.timer-title {
    color: var(--brown);
    background: var(--light-orange);
    margin: 0;
    padding: 0.2em;
    border-bottom: 1px solid var(--brown);
    border-radius: 0 0 5px 5px;
    text-transform: capitalize;
}
.carousel-container{
    position: relative;
}
.title-tooltip {
    position: absolute;
    left: -8px;
    top: calc(100% + 10px);
    color: var(--brown);
    background-color: var(--light-orange);
    padding: .2em;
    border: 1px solid var(--brown);
    border-radius: 5px;
    max-width: 100%;
}
.title-container {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.title {
    display: inline-block;
    min-width: 100%;
    width: max-content;
    padding: 0 1em;
}
@keyframes carousel {
    from {
        /* margin-left: 0; */
        transform: translateX(0);
    } to {
        /* margin-left: -100%; */
        transform: translateX(-100%);
    }
}
.timer-digit {
    display: block;
    color: var(--orange);
    background: var(--rose);
    width: 100%;
    border: none;
    font-size: 1.4rem;
    text-align: center;
    padding: 0.2em;
}
.timer-buttons {
    grid-column: auto / span 3;
    display: flex;
}
.timer-buttons > button > span {
    font-size: 2rem;
    color: var(--orange);
}
.timer-buttons > button {
    background: var(--light-orange);
    padding: .5em;
    width: 100%;
    border-top: 2px solid var(--orange);
    border-bottom: 2px solid var(--orange)
}
.timer-buttons > button:first-child {
    border-left: 2px solid var(--orange);
    border-radius: 0 0 0 10px;
}
.timer-buttons > button:not(:last-child) {
    border-right: 2px solid var(--orange);
}
.timer-buttons > button:last-child {
    border-right: 2px solid var(--orange);
    border-radius: 0 0 10px 0;
}
/* landing timer */
.landing-timer {
    margin: 1em 0;
    display: grid;
    background: var(--light-orange);
}
.landing-timer .days-block {
    grid-column: auto / auto;
}

.landing-timer .timer-title {
    background-color: var(--orange)
}
/* prompt */
.prompt {
    align-self: start;
    background: var(--rose);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--brown);
}
.prompt .inputs {
    padding: 0.7em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.7em;
}
.prompt .input-container.title-input {
    grid-column: auto / span 2;
}
.prompt .input-container {
    border: 1px solid var(--brown);
    border-radius: 5px;
    overflow: hidden;
}
.prompt .input-container h2 {
    color: var(--brown);
    background: var(--light-orange);
    margin: 0;
    padding: 0.2em;
    border-bottom: 1px solid var(--brown);
    border-radius: 0 0 5px 5px;
    text-transform: capitalize;
}
.prompt .input-container h2:not(.days-title)::after {
    content: ".";
}
.prompt .input-container input {
    color: var(--orange);
    background: var(--rose);
    width: 100%;
    border: none;
    font-size: 1.4rem;
    text-align: center;
    padding: 0.2em;
}
.prompt .buttons {
    border-top: 1px solid var(--brown);
    display: flex;
}
.prompt .buttons button {
    padding: 0.5em;
    text-align: center;
    color: var(--orange);
    background: var(--light-orange);
    width: 100%;
}
.prompt .buttons button:last-child {
    border-left: 1px solid var(--brown);
}
.prompt .buttons button span {
    font-size: 2rem;
    font-weight: bold;
}
/* FEATURES */
/* .new-landing-grid {
    grid-template-rows: auto auto 1fr auto !important;
}
.new-landing-grid > * {
    margin: 0;
} */
.half-opacity {
    filter: opacity(0.5);
}
.flip {
    transform: rotateY(180deg);
    transition: .5s ease-in-out;
}
.screen-highlighted {
    background: var(--orange);
}
.move-menu {
    transform: translateY(0);
}
.move-button {
    transform: translate(-50%, -50%) rotate(0deg) !important;
}
.center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide-element {
    display: none !important;
}
.display-block-element {
    display: block !important;
}
.display-grid-element {
    display: grid !important;
}
/* timer features */
.chosen-timer {
    border: 4px dashed var(--brown);
}
.finished-timer {
    filter: opacity(0.8);
}